<!DOCTYPE html>
<html>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
        <h1>Edit Page</h1>
        <form action="/<%=furryFriend.id%>?_method=PUT" method="POST">
            <div class="new">
                name: <input class="newform" type="text" name="name" value="<%=furryFriend.name%>" />
                age: <input class="newform" type="text" name="age" value="<%=furryFriend.age%>" />
                gender: <input class="newform" type="text" name="gender" value="<%=furryFriend.gender%>" />
                type: <input class="newform" type="text" name="type" value="<%=furryFriend.type%>" />
                color: <input class="newform" type="text" name="color" value="<%=furryFriend.color%>" />
            </div>
            <div class="sitcheck">
                good with dogs: <input class="sitchecklab" type="checkbox" name="good with dogs" 
                <% if(furryFriend.dogs === true){ %>
                      checked
                <% } %>
                />
                good with cats: <input class="sitchecklab" type="checkbox" name="good with cats" 
                    <% if(furryFriend.cats === true){ %>
                        checked
                    <% } %>
                />
                good with kids: <input class="sitchecklab" type="checkbox" name="good with kids" 
                    <% if(furryFriend.kids === true){ %>
                        checked
                    <% } %>
                />
            </div>
            <div class="newsub">   
            <input type="submit" name="" value="Submit Changes"/>
            </div>
        </form>
    </body>
<footer><%- include ('./partials/footer.ejs') %></footer>
</html>