<!DOCTYPE html>
<html>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
        <h1>Edit Page</h1>
        <form action="/<%=furryFriend.id%>?_method=PUT" method="POST">
            <div class="new">
                Name: <input class="newform" type="text" name="name" value="<%=furryFriend.name%>" />
                Age: <input class="newform" type="text" name="age" value="<%=furryFriend.age%>" />
                Gender: <input class="newform" type="text" name="gender" value="<%=furryFriend.gender%>" />
                Type: <input class="newform" type="text" name="petType" value="<%=furryFriend.petType%>" />
                Color: <input class="newform" type="text" name="color" value="<%=furryFriend.color%>" />
            </div>
            <div class="newChecks">
                Good with dogs: <input class="newCheckind" type="checkbox" name="dogs" 
                <% if(furryFriend.dogs === true){ %>
                      checked
                <% } %>
                />
                Good with cats: <input class="newCheckind" type="checkbox" name="cats" 
                    <% if(furryFriend.cats === true){ %>
                        checked
                    <% } %>
                />
                Good with kids: <input class="newCheckind" type="checkbox" name="kids" 
                    <% if(furryFriend.kids === true){ %>
                        checked
                    <% } %>
                />
            </div>
            <div class="newsub">   
                <input type="submit" name="" value="Submit Changes"/>
            </div>
        </form>
    </body>
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</html>