<!DOCTYPE html>
<html lang="en">
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
            <ul>
                <% for (let i=0; i < furryFriends.length; i++) { %>
                    <li><a href="/<%=furryFriends[i].id%>">
                            <%=furryFriends[i].name%>
                           <img src="<%=furryFriends[i].img%>" style = "max-width: 150px">
                        </a></li>
                <% } %>
            </ul>
    </body>
     <%- include ('./partials/footer.ejs') %> 
</html>