<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1><%= furryFriend.name %></h1>
        <h2><%= furryFriend.age %></h2>
        <img src="<%= furryFriend.img %>">
        <button><a href="/<%= furryFriend.id; %>/edit" class="edit">Edit</a></button>
        <h3><%= furryFriend.color %></h3>
        <h3><%= furryFriend.gender %></h3>
        Good with Kids: <input type="checkbox" id="kids" name="kids" disabled="disabled"
            <% if(furryFriend.kids === true) { %> 
                style = "outline: 2px solid gold;"
                checked
            <% } %>
            >
        Good with Dogs: <input type="checkbox" id="dogs" name="dogs" disabled="disabled"
            <% if(furryFriend.dogs === true) { %> 
                style = "outline: 2px solid gold;"
                checked
            <% } %>
            >
        Good with Cats: <input type="checkbox" id="cats" name="cats" disabled="disabled"
            <% if(furryFriend.cats === true) { %> 
                style = "outline: 2px solid gold;"
                checked
            <% } %>
            >
        <form class="trash" method="POST" action="/<%= furryFriend.id; %>?_method=DELETE">
            <input type="submit" value="Delete" class="delete">
        </form>
    </body>
    <%- include ('./partials/footer.ejs') %>
</html>